<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <style>
    body {
      padding-top: 3.5rem;
    }

    nav {
      font-family: "Poppins";
    }

    .navbar-brand {
      font-size: 20px;
      font-family: "Poppins";
    }
  </style>

</head>

<body>
  <form id="form1">
    <header>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #000;">
        <a class="navbar-brand" href="#" style="color: #ffffff; font-weight: 600;">
          <b>TimeEasy</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
          style="background-color: black;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}" style="color: #fff;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}" style="color: #fff;">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'help' %}" style="color: #fff;">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}" style="color: #fff;">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" style="color: #fff;">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}" style="color: #fff;">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">About TimeEasy</h1>
          <p>Welcome to TimeEasy!, a timetable management system for colleges and universities to schedule their
            organization's timetable. TimeEasy started off as a company that formed strong relationships with schools,
            colleges and universities to help them generate their timetable with
            ease and maximum efficiency and saving the organization's valuable time.
          </p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'contact' %}" role="button">Contact Us &raquo;</a></p>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <h2>User</h2>
            <p>TimeEasy provides User accounts which gives the user the privelage to create, manipulate or delete the
              organization's timetable.</p>
            <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button">Sign Up &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>How does it Work?</h2>
            <p>TimeEasy makes use of a Genetic Algorithm that helps generate the most optimal and suited timetable for
              your
              organization's needs.</p>
            <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button">Generate Timetable &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div>

    </main>

    <footer class="container">
      <p>&copy; TimeEasy. All Rights Reserved</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.js"></script>

  </form>
</body>

</html>